# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Configuración local de VS Code
.vscode/

# Variables de entorno / Secretos
.env
#Clases Laboratorio/Python/Videos y código de la clase del 289-20260930.zip
*.mp4
*.zip
